.Toastify__toast-container { width: 360px; }

.Toastify__toast {
    border-radius: 6px !important;
    padding: 14px;
    box-shadow: 0 10px 24px rgba(0,0,0,0.18);
    border: 1px solid rgba(0,0,0,0.10);
    font-family: inherit;
    overflow: hidden;
}

.Toastify__toast-body {
    margin: 0;
    padding: 0;
    color: #2E2E2E;
    font-size: 14px;
    line-height: 1.35;
}

.Toastify__progress-bar {
    background: #009373;
}
.Toastify__progress-bar--error {
    background:  rgba(220,38,38);;
}

/*.Toastify__toast--success {*/
/*    background: #E8EBEA;*/
/*    border-color: #009373;*/
/*}*/
/*.Toastify__toast--error {*/
/*    background: #F2F2F2; !* light *!*/
/*    border-color: rgba(220,38,38,.25);*/
/*}*/
/*.Toastify__toast--info {*/
/*    background: #E8EBEA;*/
/*    border-color: rgba(0,147,115,.18);*/
/*}*/
/*.Toastify__toast--warning {*/
/*    background: #F2F2F2;*/
/*    border-color: rgba(245,158,11,.25);*/
/*}*/

.Toastify__close-button { opacity: .8; }
.Toastify__close-button:hover { opacity: 1; }
