@import "tailwindcss";
@import "tailwindcss";
@config "../../tailwind.config.js";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

a.underline {
  text-decoration: underline;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* SWIPER ARROW MOBILE */
@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important; 
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: #f2f2f2 !important; /* cor da Leste */
}.swiper-button-prev {
  left: calc((100vw - 1690px) / 2 + 16px) !important;
}

.swiper-button-next {
  right: calc((100vw - 1690px) / 2 + 16px) !important;
}