@import "tailwindcss";
@import "tailwindcss";

@config "../../tailwind.config.js";
@import "../styles/toastify.css";


:root {
    --background: #ffffff;
    /*--foreground: #171717;*/
}

a.underline {
    text-decoration: underline;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;

    width: 12px;
    height: 48px;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    font-weight: 300;
    color: #0b5d4b;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    transition: all .2s ease
}

/* Hover */
.nav-btn:hover {
    background: rgba(255, 255, 255, 1);
    transform: translateY(-50%) scale(1.05);
    width: 12px;
    height: 64px;
    transition: all .2s ease
}

/* Disabled */
.nav-btn:disabled,
.nav-btn.swiper-button-disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
}
